/* Main and Global Styles */

:root{

    /* Color Palette */
    --rose-pink: #ff7fdd;
    --light-rose-pink: #ff8ee1;
    --low-opacity-pink: rgba(255, 127, 221, 0.5);
    --white-bg: #ffffff;
    --black-text: #000000;
    --electric-pink: #FF69B4;

    /* Font Sizes for texts*/
    --font-smallest: 12px;
    --font-small: 15px;
    --font-medium: 20px;
    --font-large: 25px;
    --font-large-2: 30px;
    --font-larger: 50px;
    --font-largest: 100px;

    /* Font Families */
    --hwt-slab-antique: 'HWT Slab Antique', serif;

}

@font-face {
    font-family: 'HWT Slab Antique';
    src: url('./assets/fonts/HWT-Slab-W00-Antique.woff2') format('woff2'),
         url('./assets/fonts/HWT-Slab-W00-Antique.woff') format('woff'),
         url('./assets/fonts/HWT-Slab-W00-Antique.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--hwt-slab-antique), sans-serif;
    color: var(--rose-pink);
    letter-spacing: 0.8px;
    text-align: center; 
}

